extends _layouts/base

include _modules/link/link

block content

    .mnk
      main
        .background

        .sections
          section
            h2.
              Talent is given </br>
              true skill is earned
          section
            h2.
              Be flexible to change </br>
              and sturdy in conviction
          section
            h2
          section
            h2
          section
            h2
          section
            h2
          section
            h2
          section
            h2

        aside

      footer
        .controls
          ul
            li.active h
            li.
              1
            li.
              2
            li.
              3
            li.
              4
            li.
              5
            li.
              6
            li.
              7
            li.
              8
            li.
              e

  code.version v1.5.3
